<%- model_class = TypePartner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @type_partner.type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @type_partner.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:documents_id) %>:</strong></dt>
  <dd><%= @type_partner.documents_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              type_partners_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_type_partner_path(@type_partner), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              type_partner_path(@type_partner),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
